<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Restaurant's catalogue with free masala dosa receipts, 
        tap as your favorite when your happy tummy jumps.">
    <title>Sumit Delicacies Apps</title>
    <link href="https://fonts.googleapis.com/css2?family=Mali:wght@300;400;500&display=swap" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/svg" href="./images/heros/cutlery.svg"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="./icons/favicon_package_v0.16/site.webmanifest">
    <link rel="mask-icon" href="./icons/favicon_package_v0.16/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#EF962D">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
</head>
<body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton" aria-label="navigation-menu">☰</button>
        </div>
        <div class="app-bar__brand">
            <h1>Sumit Delicacies Apps</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="#/like">Favorite</a></li>
                <li><a href="https://www.linkedin.com/in/ira-iryanti-406542154/" target="_blank">About Us</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <div class="hero__inner">
            <h2 class="hero__title">Perut Kenyang Hati Senang</h2>
            <p class="hero__tagline">Manjakan Lidahmu Bersama Sumit Delicacies</p>
        </div>
    </section>
    <main id="mainContent"></main>
<footer>
    <ul>
        <li><a href="#">Help</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <h2>Copyright © 2021 - Sumit Delicacies Apps</h2>
</footer>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/8.7.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/8.7.1/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
</body>
</html>
